li:nth-child(-n+2) a {font-weight:normal; }
li:nth-child(n+3):nth-child(-n+5) a {color:#f70; }
li:nth-child(n+6) a {color:#666; }
li:nth-child(5) a:after {content: "\21F1"; display: inline-block; transform: scale(-1,1);margin-left: 5px;}
