*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  background: rgb(255, 255, 255);
  font-family: "Economica", Arial, Helvetica, sans-serif;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: black;
  margin: 3em;
  padding: 0;
}
