@import url(https://fonts.googleapis.com/css?family=Economica);

ul, li {list-style: none;}
.menu {background: #1aa4ff;
    margin-top:40px;
    width: 100%;}

.menu ul {display:flex;
    padding:0;
    justify-content: center;}

 .menu li {list-style: none;
    padding:10px;
      margin: 0 10px;}


 a   {text-decoration:none;
    color:white;
    font-family: Economica, serif;
    font-size: 20px;font-weight: bold;}

 li:hover, li:hover a{ background: #eeeeee;
         color:#9f9f9e;}


 /* Sub */

.menu li ul{ position: absolute;
    padding: 100px;
    min-width: 150px;}



