/* обнуление */
*,*::before,*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


html,body {
    background: white;
    height: 100%;
    width: 100%;
    font-family: 'Economica', Impact, sans-serif;
    color: black;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100%;

}

.menu a {
    text-decoration: none;

}
ul,li {
    list-style: none;
}

.menu {
    background: #1aa4ff;
    display: flex;
    justify-content: center;
}

.menu__list {
    display: flex;
    width: 900px;
    justify-content: center;
}

.menu__link {
    display: inline-block;
    width: auto;
    text-align: center;
    padding: 10px 10px ;
}


.menu__list .menu__link {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}




.menu__list .menu__link:hover {
    display: block;
    background: #eeeeee;
    color: #a19fa0;
}


.menu__list li:hover .sub-menu__list {
    display: flex;
}

.sub-menu__list {
    display: none;
    white-space: nowrap;
    position: absolute;
    top: 29px;
    left: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 20px 0 0 0;
    width: 100%;
    background: #eee;
    justify-content: center;
}

.sub-menu__list .sub-menu__link {
    text-transform: capitalize;
    color: #888888;
}

.sub-menu__list > li {
    font-size: 20px;
    background: #eee;
    font-weight: normal;
}

.sub-menu__link {
    display: inline-block;
    width: auto;
    text-align: center;
    margin:0 10px;
    padding: 8px 10px;
}

.sub-menu__list .sub-menu__link:hover {
    background: #cacaca;
}