
* { -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

.conteiner {
    width: 300px;
    margin-left:100px;
    padding:5px;
    position: relative;
    background: #EE8129;
    text-align: center;
    border-radius: 5px;
}

.header { font-weight:bold;
    font-size:125%;
    color:white;
    text-transform: uppercase;
    padding:20px;
}

.conteiner2 {width:290px;
    height:300px;

    background:white;}

.header2 {text-transform: uppercase;
    padding: 15px ;
    font-size:110%;}
.sup {font-size:150%;
    position:absolute;
    left:92px;}
.money{font-size:300%;}
.month{font-size:75%}
.cost { color:#35495A;}
.table {
    position: relative;
    margin: 0 10px;
    color:#71757A;
    list-style-type: none;
    text-align: left;
    border:2px solid;}

li{padding:5px}
li:nth-child(odd) { background-color: #EDF5FD;}
li:nth-child(even) { background-color: #F5F5F6;}
li:nth-child(odd):before { content: '';
    background-color: #EDF5FD;
}

li:before { content: url("../csslesson5/-.jpg");
            zoom:5%;

            }



