@import url(https://fonts.googleapis.com/css?family=Economica);

/* обнуление */
*,*::before,*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

123bbbbb

html,body {
    background: white;
    height: 100%;
    font-family: economica, impact, sans-serif;
    color: black;
    font-size: 20px;
}

.wrapper {
    height: 100%;

}

.menu a {
    text-decoration: none;

}
.menu__list a { font-weight:bold;
    text-transform:uppercase;
    color:#fff;
}
.menu li {position: relative;
    list-style: none;
}

.menu{background:#1aa4ff;
   }




.menu__list{
    display: flex;

    padding: 10px;
    width: 900px;
    margin:0 0 0 100px;
}

.menu__list > li {
    margin: 0 60px 0 0;

}

.menu__list > li:hover .sub-menu__list {
    display:flex;
}
.menu__list:hover {
    background:black;
    border:4px solid red;

}

.menu__link{
    color:black;
}

.sub-menu__list {
    position: absolute;
    left: -1450%;
    top: 13px;
    display: none;
    white-space: nowrap;
    padding: 20px 20px 40px 60px;
    margin: 0 0 0 150px;
    font-size: 15px;
}
.sub-menu__list li {
    background: #eeeeee;
    padding: 10px 0 10px 30px;
    ;}



.sub-menu__list a { color:#888888;
    text-transform: capitalize;
}

.sub-menu__link{
    margin: 0 40px 0 0;
}


