@import url(https://fonts.googleapis.com/css?family=Economica);

.back{
    background:purple;}


.menu {
    margin-left: auto;
    margin-right: auto;
    width: 900px}

a   {display:inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    padding:10px 20px 10px 20px;
    font-family: Economica, serif;}


a:hover {background:gray;
    color:black;}


