.sivtsev {
    text-align:justify;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    margin: 50px;
    text-shadow: 0 0 3px rgb(90, 89, 89);
    color:rgba(0, 0, 0, 0);
}

.sivtsev p:after{
    content:"";
    display:inline-block;
    width:100%;
    }

p {
    line-height: 10px;
}

.uline {
    border-top: 1px solid red;
    height: 10px;
}

.sight01 {
    font-size: 4em;
}

.sight02 {
    font-size: 3em;
}

.sight03 {
    font-size: 2em;
}

.sight04 {
    font-size: 1,3em;
}

.sight05 {
    font-size:1.3em;
}

.sight06 {
    font-size:1.2em;
}

.sight07 {
    font-size:1.1em;
}
.sight08 {
    font-size:1.0em;
}

.sight09 {
    font-size:0.9em;
}

.sight10 {
    font-size:0.8em;
}

.sight15 {
    font-size:0.7em;
}

.sight20 {
    font-size:0.6em;
}