/* обнуление */
*,*::before,*::after {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
html,body {
    background: white;
    height: 100%;
    width: 100%;
    font-family: 'Economica', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../csslesson6/back.png);
}

.what {
    color: #ee8129;
}

.title {
    text-transform: uppercase;
    color: #3170a8;
    display: flex;
    justify-content: center;
    margin-top:100px;
    font-size: 42px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
}
.conteiner {
    display: flex;
    margin-left: 40px;
    margin-top: 50px;
}






/* тут хранятся картинки. Общий класс [class*="picture"]  должен обязательно находится ниже */

.picture1 {
    background: url(pic1.png);
}

.picture2 {
    background: url(pic2.png);
}

.picture3 {
    background: url(pic3.png);
}

[class*="picture"] {
    display: block;
    width:100px;
    height:100px;
    background-size: cover;
}

.review {
    position:relative;
    display: inline-block;
    width: 300px;
    height: auto;
    background: white;
    margin-left: 30px;
    border-radius: 7px;
}

.review::before {
    content: '';
    position: absolute;
    left: -13px;
    top:40px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid rgb(255, 255, 255);
    }

[class*="rank"] , .name {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    color:#3070a8;
}

.rank3 {
    text-decoration: line-through;
}

.name {
    text-align: left;
    position:absolute;
    left:30px;
    top:10px;
}

.name::before {
    content: '-';
    position: absolute;
    left:-10px;
}


[class*="rank"] {
    text-align: right;
    position: absolute;
    right: 20px;
    top: 10px;
    
}

.border__dotted {
    margin: 0 auto; 
    width: 92%;
    height:40px;
    border-bottom: 2px dotted #cfcdcd;
}

[class*="text"] {
    margin:10px 15px 7px 20px;
    text-align: start;
    font-size: 12px;
    line-height: 1.5;
    color:#666666;
    display: inline-block;
}

