/* обнуление */
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    background: white;
    height: 1000px;
    font-family: 'Economica', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content:center;
}

.main__conteiner{
    border:2px solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    width:900px;
    margin-top: 300px;
}

.header {
    border: 1px solid red;
    color:#40525c;
    margin:50px 0 80px 0;
    text-transform: uppercase;
    font-size: 26px;
    
}
.conteiner__border {
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #808080;
    border-radius: 0 0 5px 5px;
}

.conteiner__border__center {
    border:3px solid #ee8129;
}

-.conteiner__center {
    box-shadow: 3px 3px 3px 3px rgb(24, 11, 11);
}

.conteiner {
    display: flex;
    margin:0 auto;
}

[class*="conteiner_"] {
    width: 270px;
    
}

[class*="title_"] {
    color:#fff;
    font-size: 20px;
    font-weight:900;
    text-transform: uppercase;
    padding:10px 60px;
    text-align: center;
    border-radius:4px 4px 0 0;
    
}

.title__left {
    background:#2ac2d5;
}

.title__center {
    background:#ee8129;
}

.title__right {
    background:#1cb79a;
}

[class*="title2"] {
    text-transform: uppercase;
    padding:10px 0 0 0;
}

[class*="cost"]{
    position: relative;
    color:#35495a;
    left:20px;
}

[class*="sup"] {
    position: absolute;
    font-size: 24px;
    left:54px;
    top:9px;

}

[class*="money"] {
    font-size: 65px;
}

[class*="month"] {
    font-weight: bold;
    text-transform: capitalize;
}

[class*="table"] {
    position: relative;
    display: inline-block;
    width: 240px;
    text-align: start;
    
    margin:10px 0;
}

[class*="cell"] {
    padding:4px;
    margin:1px;
    color:#7f8086;
    padding-inline-start: 50px;
}

[class*="cell"]::before { 
    content: url("../csslesson6/-.png");
    position: absolute;
    zoom: 5%;
    left: 400px;
    
}

ul{
    list-style: none;
}

li:nth-child(odd) { 
    background-color: #EDF5FD;
}
li:nth-child(even) {
    background-color: #F5F5F6;
}

[class*="button__"] {
    padding:12px 75px 9px 75px;
    margin:10px 0 20px 0;
    background: #2f70a8;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 3px solid #0e304e;
    transition-duration: 0.4s;
}

.button__center {
    background: #ee8129;
}

.button__left:hover {
    background: #2ac2d5;
}

.button__center:hover {
    background:#ca6b1d;
}

.button__right:hover {
    background:#1cb79a;
}


