/* обнуление */
*,*::before,*::after {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
html,body {
    background: white;
    height: 1000px;
    font-family: 'Economica', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content:center;
}

.main__conteiner{ 
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 800px;
    margin-top: 150px;
}

.conteiner__left {
    position: absolute;
    left: 4%;
    z-index: 1;
  
}

.conteiner__center {
    position: absolute;
    left: 273px;
    top: 128px;
    z-index: 5;

}

.conteiner__right {
    position: absolute;
    right: 4%;
    z-index: 2;
}

.header {
    color:#40525c;
    margin:50px 0 55px 0;
    text-transform: uppercase;
    font-size: 26px;
    
}
.conteiner__border {
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #808080;
    border-radius: 0 0 5px 5px;

}

.conteiner__border__center {
    border:3px solid #ee8129;
    background: white;
    border-radius: 0 0 5px 5px;
    box-shadow: -2px 3px 4px 1px rgba(31, 76, 111, 0.16), 
                 6px 3px 4px 1px rgba(31, 76, 111, 0.16);
}

.conteiner {
    display: flex;
    margin:0 auto;
}

[class*="conteiner_"] {
    width: 250px;
    
}

[class*="title_"] {
    color:#fff;
    font-size: 20px;
    font-weight:900;
    text-transform: uppercase;
    padding:10px 60px;
    text-align: center;
    border-radius:4px 4px 0 0;

    
}

.title__left {
    background:#2ac2d5;
}

.title__center {
    background:#ee8129;
    padding:15px 0;
    box-shadow: 0px 0px 5px 4px rgba(31, 76, 111, 0.17);
}

.title__right {
    background:#1cb79a;
}

[class*="title2"] {
    text-transform: uppercase;
    padding:10px 0 0 0;
    font-size: 20px;
}

[class*="cost"]{
    position: relative;
    color:#35495a;
    left:20px;
}

[class*="sup"] {
    position: absolute;
    font-size: 24px;
    left:44px;
    top:9px;

}

[class*="money"] {
    font-size: 65px;
}

[class*="month"] {
    font-weight: bold;
    text-transform: capitalize;
}

[class*="table"] {
    position: relative;
    display: inline-block;
    width: 213px;
    text-align: start;
    font-size: 14px;
    margin:10px 0;
}

[class*="cell"] {
    padding:4px;
    margin:1px;
    color:#7f8086;
    padding-inline-start: 50px;
}

[class*="cell"]::before { 
    content: url("../csslesson6/-.png");
    position: absolute;
    zoom: 5%;
    left: 400px;
    
}

ul{
    list-style: none;
}

li:nth-child(odd) { 
    background-color: #EDF5FD;
}
li:nth-child(even) {
    background-color: #F5F5F6;
}

[class*="button__"] {
    padding:12px 60px 9px 60px;
    margin:10px 0 20px 0;
    background: #2f70a8;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 3px solid #0e304e;
    transition-duration: 0.4s;
}

.button__center {
    background: #ee8129;
    border-bottom: 3px solid #693810;
    margin-bottom: 30px;
    margin-top: 10px;
}

.button__left:hover {
    background: #2ac2d5;
}

.button__center:hover {
    background:#ff7300;
}

.button__right:hover {
    background:#1cb79a;
}


